{% extends "layouts/base.html" %}
{% block title %}Estudios{% endblock %}
{% block subtitle %}Mis Estudios{% endblock %}
{% block content %}

<div class="--bs-light-border-subtle p-4 text-center">
    <h3 class="text-dark">Educacion</h3>
</div>

<div class="container text-center">
  <div class="row justify-content-center gx-3 gy-5">
    {% for studie in studies %}
      <div class="col-md-4">
        <div class="card mx-auto h-100 shadow-lg">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ studie.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              {{ studie.subtitle }}
            </h6>
            <h7 class="card-subtitle mb-2 text-body-secondary">
              {{ studie.start_date }} - {% if studie.end_date %}{{studie.end_date}}{%else%}En Curso{% endif %}
            </h7>
            <p class="card-text">{{ studie.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class="--bs-light-border-subtle p-5 text-center">
    <h3 class="text-dark">Cursos</h3>
</div>


<div class="container text-center">
  <div class="row justify-content-center gx-3 gy-5">
    {% for course in courses %}
    <div class="col-md-4">
      <div class="card mx-auto h-100 shadow-lg">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ course.name }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ course.subtitle }}
          </h6>
          <h7 class="card-subtitle mb-2 text-body-secondary">
            {{ course.start_date }} - {% if course.end_date %}{{course.end_date}}{%else%}En Curso{% endif %}
          </h7>
          <p class="card-text">{{ course.description }}</p>
          {% if course.certificate %}
          <div class="mt-auto">
            <button type="button" class="btn btn-primary" onclick="window.open('{{ course.certificate.url }}', '_blank')">Ver Certificado</button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>





{% endblock %}
